<section id="experience">
  <h2>Experience</h2>
  <hr>
  <div class="row">
    <div class="column">
      <img src="{{ site.baseurl }}/assets/images/ppap.svg" id="ppap_icon" alt="This is my picture">
    </div>
    <div class="column">
      An android app that helps user get pitch perfectly accurately practiced.
      <hr>
      <ul>
        <li>play store 
          <a href="https://play.google.com/store/apps/details?id=com.ppap.pitchperfectlyaccuratelypractice">link</a>
        </li>
        <li>demo
          <a href="https://www.youtube.com/watch?v=JqUM81U_XtY&feature=youtu.be">youtube</a>
        </li>
        <li>repo
          <a href="https://github.com/alexlai97/Pitch-Perfectly-Accurately-Practice">github</a>
        </li>
      </ul>
    </div>
  </div>
</section>
