<div id="Navi-bar">
  <ul>
    <li><a href="#hero">Resume</a> </li>
    <li><a href="#profile">Profile</a> </li>
    <li><a href="#projects">Projects</a> </li>
    <li><a href="#I_value">I value</a> </li>
    <li><a href="#I_love">I love</a> </li>
    <li><a href="#I_use">I use</a> </li>
    <li><a href="#I_speak">I speak</a> </li>
    <li><a href="#I_studied_at">I studied at</a> </li>
    <li><a href="#I_learned_in">I learned in</a> </li>
    <li><a href="#contact">Contact</a> </li>
  </ul>
</div>
