<section id="profile">
  <header>
    <h2>Profile</h2>
    <hr>
  </header>
  <article>
    <div class="row">
      <div class="column">
        <p>Xingyu Lai, you can call me Alex. I am a vimmer, gentooer, rustacean. I love to make brilliant ideas come true.
        </p>
        <p>I am looking for a part-time job January-April for 2020 and a full-time job after April 2020.</p>
      </div>
      <div class="column">
        <img src="{{ site.baseurl }}/assets/images/cat.jpe" id="profile_image" alt="My picture">
        <ul>
          <li>age: 22</li>
          <li>job: undergraduate of University of Waterloo</li>
          <li><a href="https://blog.alexlai.xyz">My blog</a></li>
        </ul>
      </div>
    </div>
  </article>
</section>
