body, html {
  margin: 0;
}

h2 {
  color: grey;
  text-align: center;
}

h3 {
  color: red;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#profile .row {
  display: flex;
}

#profile .column {
  flex: 80%;
}

#experience .row {
  display: flex;
}

#experience .column {
  flex: 30%;
}


#profile img#profile_image {
  border-radius: 50%;
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

#experience img#ppap_icon {
  border-radius: 25px;
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 200px;
}

#Navi-bar {
  top: 20px;
  right: 50px;
  position: fixed;
  z-index: 1;
}

#Navi-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 120px;
  background-color: #f1f1f1;
  text-align: center;

}

#Navi-bar ul li a {
  display: block;
  width: 100px;
  color: #000;
  padding: 8px 16px;
  background-color: #dddddd;
  text-decoration: none;
}

#Navi-bar ul li a:hover {
  background-color: #555;
  color: white;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#hero {
  background-color: lightblue;
  z-index: 2;
  position: relative;
}


